* {
  all: unset;
  font-family: "Fira Code", monospace;
}

.sidebar {
  background-color: rgba(20, 20, 20, 0.9);
  border-radius: 10px;
  padding: 10px;
}

button {
  background-color: #ffcc00;
  color: black;
  border-radius: 5px;
  padding: 5px 10px;
}

